.h1-about {
  @include small {
     font-size: 1.6rem;
  }
}

.h2-about {
  @include small {
     font-size: 1.4rem;
  }
}

.social-cta {
  display: inline-block;
  margin-bottom: 1rem;
  margin-right: 1rem;
  width: 140px;
  @include small {
    width: 100%;
  }
}

.btn-squarecash {
  background-color: #22a301;
}

.btn-plasso {
  background-color: #232A42;
}
