.nav {
  min-height: 125px;
  padding: 1rem;
  @include large {
    padding: 3rem;
    flex-direction: row;
  }
}

.logo {
  text-transform: uppercase;
  letter-spacing: 5px;
  color: $black;
  font-weight: bold;
  padding: 1rem 0;
  transition: letter-spacing 200ms $bounce;
  @include large {
    padding: 0;
    &:hover {
      letter-spacing: 6px;
    }
  }

}

// needed to make sure logotype is centered
// otherwise the tracking on the last letter
// makes it look too far left of center
.no-tracking {
  letter-spacing: 0;
}

.nav-link {
  display: inline-block;
   padding: 1rem;
   @include large {
    &:last-child {
      padding-right: 0;
    }
  }
}
