$screenshot-height: 188px;

.post-item {
  position: relative;
  background: $white;
  margin-bottom: 1rem;
  align-self: flex-start;
  @include large {
    animation: fadeInUp 300ms;
    transform: translate3d(0, 0, 0);
    transform-origin: bottom;
    -webkit-backface-visibility: hidden;
    box-shadow: 0 6px 12px -4px rgba(36, 45, 50, 0.1);
    margin: 1rem;
    min-width: 250px;
    max-width: 250px
  }
}

.post-item:nth-child(3n+3),
.post-item:nth-child(5n+1) {
  animation-duration: 500ms; }

.post-item:active {
  @include large {
    transform: translateY(0.1rem);
  }
}

.star-badge {
  font-size: small;
  background: fade-out($black, 0.25);
  color: $white;
  padding: 0.4rem 0.75rem 0.5rem;
  transition: padding 100ms $bounce;
  &:hover {
    padding: 0.6rem 1rem 0.8rem;
  }
  @include small {
    padding: 0.6rem 1rem 0.8rem;
  }
}

.star-icon {
  vertical-align: top;
  margin-right: 0.25rem;
  path {
    fill: currentColor;
  }
}

.star-count {
  line-height: 1;
  vertical-align: bottom;
}

.js-upvote .star-icon {
  animation: scaleUp 200ms $bounce;
}

.js-downvote .star-icon {
  color: $accent;
  animation: fadeInUp 200ms $bounce;
}

.screenshot-wrap {
  line-height: 0;
}

.screenshot-loader {
  background: $silver;
  opacity: 0.8;
}

.screenshot-loader .loader {
  position: absolute;
  z-index: 1000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.screenshot-loader .path {
  stroke: fade-out($white, 0.5);
}

.screenshot {
  min-height: $screenshot-height;
  filter: brightness(0.85);
  object-fit: cover;
}

.post-title {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  @include small {
    font-weight: 600;
  }
}

.post-description {
  font-size: 0.875rem;
  color: $midgrey;
  @include large {
    color: darken($grey, 15%);
  }
}

.post-edit {
  cursor: pointer;
  height: 42px;
  width: 42px;
  position: absolute;
  bottom: 0;
  right: 0;
  @include small {
    height: 60px;
    width: 60px;
  }
}

.edit-wrap {
  height: 100%;
  width: 100%;
}

.edit-background,
.edit-icon {
  transition: fill 300ms;
}

.edit-background {
  fill: $silver;
}

.edit-icon {
  fill: $grey;
}

.post-edit:hover {
  .edit-background {
    fill: $accent;
  }
  .edit-icon {
    fill: $white;
  }
}
