// Overwrite default variables

$base-font: 'proxima-nova', 'Avenir Next', Avenir, 'Helvetica Neue', Helvetica, sans-serif;
$base-font-size: 0.875rem;
$base-line-height: 1.2;

/* see corpus/_variables.scss */
