<template name="about">
  <div class="container wider">

  <section class="mb2 pb2 bb1">
    <h1 class="h1-about bold mb2">Stylesheets is a commnunity-generated collection of the best CSS resources.</h1>
    <div class="mb2">
      <iframe src="https://ghbtns.com/github-btn.html?user=jamiewilson&repo=stylesheets&type=star&count=true&size=large" frameborder="0" scrolling="0" width="140px" height="30px"></iframe>
      <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://stylesheets.co" data-text="Stylesheets is a collection of the best CSS resources." data-via="jmwlsn" data-size="large" data-hashtags="css">Tweet</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </div>
    <h2 class="h2-about">It was created to give the web design community a place to share and catalog all the best tools, tutorials, snippets, and repos you can find.</h2>
    <p class="h4 lh5">You can post anything that's CSS-related and let the community “star” something to let others know they found it useful, and also add it to their personal collection of starred posts. By default, posts are sorted showing the newest ones first, but you can also sort by number of stars and alphabetically.</p>
    <p class="h4 lh5 mb0">For those interested in some of the my other work, be sure to check out <a href="http://jamiewilson.io">jamiewilson.io</a>. You can also find me on <a href="http://github.com/jamiewilson">GitHub</a>, <a href="http://twitter.com/jmwlsn">Twitter</a>, and <a href="mailto:jamie@stylesheets">email</a>.</p>
  </section>

  <section class="mb2">
    <h2 class="bold">Special thanks to <a href="http://screenshotmachine.com">ScreenshotMachine</a></h2>
    <p class="h4 lh5 mb1">I'd like to thank <a href="http://screenshotmachine.com">ScreenshotMachine</a> for generously donating their screenshot generation service. Their service is really quick, easy and reliable. If you're in the market for a service for generating screenshots, then definitely give <a href="http://screenshotmachine.com">ScreenshotMachine</a> a try.</p>
  </section>

  <section class="mb2 pb2 bb1">
    <h4 class="bold">Other things I used to make this:</h4>
    <ul class="h4 two-columns list-style-none">
      <li><a href="http://meteor.com">Meteor</a></li>
      <li><a href="http://discovermeteor.com">Discover Meteor</a></li>
      <li><a href="http://meteortips.com/">Meteor Tips</a></li>
      <li><a href="http://corpuscss.com/">Corpus CSS</a> <span class="fs-smaller italic color-midgrey">Another side project</span></li>
      <li><a href="http://matteodem.github.io/meteor-easy-search/">Meteor Easy-Search</a></li>
      <li><a href="http://t4t5.github.io/sweetalert/">Sweet Alert</a></li>
      <li><a href="https://www.filepicker.com/">Filepicker</a></li>
      <li><a href="https://github.com/msavin/Mongol/">Mongol</a></li>
      <li><a href="https://github.com/arunoda/meteor-up">Meteor Up</a></li>
      <li><a href="http://www.digitalocean.com/?refcode=f62fe98759a8">Digital Ocean</a> <span class="fs-smaller italic color-midgrey">$10 discount link</span></li>
      <li><a href="https://github.com/gterrono/houston">Houston</a></li>
      <li><a href="https://mailgun.com/">Mailgun</a></li>
      <li><a href="https://segment.com/">Segment</a></li>
      <li><a href="https://www.intercom.io/">Intercom</a></li>
    </ul>
   </section>

  <section class="mb2 pb2 bb1">
    <h2 class="bold">Issues, Improvements and Progress</h2>
    <p class="h4 lh5 mb0">You can tell me about issues or feature requests, view progress, and check the roadmap on <a href="https://github.com/jamiewilson/stylesheets">Github</a> or <a href="https://waffle.io/jamiewilson/stylesheets">Waffle</a>.</p>
  </section>

  <section class="mb2">
    <h2 class="bold">Make a donation!</h2>
    <p class="h4 lh5 mb2">If you like this project and want to help me continue to improve it and cover my costs, please consider donating some money. Using Square Cash means no processing fees, so your donation goes a bit further!</p>
    <a class="btn btn-large btn-squarecash mb1 mr1" href="https://cash.me/$jamiewilson">Square Cash</a>
    <a class="btn btn-large btn-plasso" href="https://plasso.co/jamie@stylesheets.co">Plasso</a>
  </section>

  </div>
</template>
