<template name="about">
  <div class="container">

    <h1 class="bold mb2">Stylesheets is commnunity-generated collection of the best CSS resources.</h1>
    <h2 class="">It was created to give the web design community a place to share and catalog all the best tools, tutorials, snippets, and repos you can find.</h2>

    <p class="h4 lh5 mb2">You can post anything that's CSS-related and let the community “star” something to let others know they found it useful, and also add it to their personal collection of starred posts. By default, posts are sorted showing the newest ones first, but you can also sort by number of stars and alphabetically.</p>

    <h3 class="bold">Issues, Improvements and Progress</h3>
    <p class="h4 lh5 mb2">You can tell me about issues or feature requests, view progress, and check the roadmap on <a href="https://github.com/jamiewilson/stylesheets">Github</a> or <a href="https://waffle.io/jamiewilson/stylesheets">Waffle</a>.</p>

    <iframe src="https://ghbtns.com/github-btn.html?user=jamiewilson&repo=stylesheets&type=star&count=true&size=large" frameborder="0" scrolling="0" width="140px" height="30px"></iframe>

    <a class="inline ml1" href="http://waffle.io/jamiewilson/stylesheets" target="_blank"><img class="w-auto" src="https://badge.waffle.io/jamiewilson/stylesheets.svg?label=ready&title=Ready" height="30px"></a>

  </div>
</template>
