<template name="header">
  <header class="bg-white depth-9" role="navigation">
    <nav class="nav column center">
      <div class="row">
        <a class="logo h4 js-clear-search" href="{{pathFor 'home'}}">Stylesheet<span class="no-tracking">s</span></a>
      </div>
      <div class="row center-right">
        {{#if currentUser}}
        <a class="nav-link color-midgrey nowrap" href="{{pathFor 'stars'}}">{{starCount}} Starred</a>
        <a class="nav-link color-midgrey" href="{{pathFor 'about'}}">About</a>
        <a class="nav-link bold js-submit" href="{{pathFor 'submit'}}">Submit</a>
        {{else}}
          <a class="nav-link color-midgrey" href="{{pathFor 'about'}}">About</a>
          <span class="nav-link link js-login">Login / Sign Up</span>
        {{/if}}
      </div>
      {{> login}}
    </nav>
    {{> post_search}}
  </header>
</template>
